<h2 class="text-center">This is a simple demo of the Ruby integration gem for the In-Context Editor</h2>
<b>Find me in app/views/main/index.html.erb</b>
<p><%= t('hero_title') %></p>
<p><%= t('advantages_text') %></p>
<p><%= t('integrate_title') %></p>
<p><%= t('create_this_key') %></p>
<p><%= t('integrate_text') %></p>
<p><%= t('variable_text', variable: "<b>BigText</b>") %></p>
